:root {
    --bg-dark: #0d1117;
    --bg-darker: #010409;
    --text-primary: #c9d1d9;
    --text-secondary: #8b949e;
    --border-color: #30363d;
    --btn-bg: #21262d;
    --btn-hover: #30363d;
    --link-color: #58a6ff;
    --green: #238636;
}
main {
    margin-bottom: 50px;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    border-top: 0px solid var(--border-color);
    z-index: 1000;
    height: 10px;
}

.footer-links a {
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s ease;
    margin: auto 1rem;
    opacity: 1;
}

.footer-links a:hover {
    color: var(--link-color);
    text-decoration: none;
    opacity: 1;
}

.card-title, .form-label {
    color: var(--text-primary)
}

#package-search::placeholder {
    color: var(--text-primary);
}